*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 10px
  font-family: 'Montserrat', sans-serif; // 'Montserrat', 'Roboto';
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-image: linear-gradient(
    181deg,
    rgba(224, 107, 245, 1) 6.9%,
    rgba(78, 248, 231, 1) 112.8%
  );

  h1 {
    font-size: 3rem;
    color: #095b92;
  }

  .music-container {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(232, 99, 255, 0.6);

    display: flex;
    padding: 20px clamp(5px, 2vw, 30px);
    position: relative;
    margin: 100px 0;
    z-index: 10;

    .music-info {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 15px 15px 0 0;
      position: absolute;
      top: 0%;
      left: 20px;
      width: calc(100% - 40px);
      padding: 10px 10px 10px clamp(100px, 15vw, 150px);
      font-size: 1.1rem;
      opacity: 0;
      transform: translateY(0);
      transition: transform 0.3s ease-in, opacity 0.3s ease-in;
      z-index: 0;

      .progress-container {
        height: 4px;
        width: 100%;
        background: #fff;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px 0;

        .progress {
          background-color: #c56cf0;
          border-radius: 5px;
          height: 100%;
          width: 0%;
          transition: width 0.1s linear;
        }
      }
    }

    &.play .music-info {
      transform: translateY(-100%);
      opacity: 1;
    }

    .img-container {
      position: relative;
      width: 110px;

      // white circle in the middle of the record image
      &::after {
        content: '';
        position: absolute;
        background-color: #fff;
        border-radius: 50%;
        bottom: 100%;
        left: 50%;
        width: 15px;
        height: 15px;
        transform: translate(-50%, 50%);
      }

      img {
        width: 100%;
        // heigth needs to be as width of image container
        height: 110px;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
        bottom: 0;
        left: 0;
        animation: rotate 3s linear infinite;
        animation-play-state: paused;
      }
    }

    // class will be added on play with js
    &.play .img-container img {
      animation-play-state: running;
    }

    .navigation {
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;

      .action-btn {
        background-color: #fff;
        border: none;
        color: #f8d4d4;
        font-size: 2rem;
        cursor: pointer;
        padding: clamp(4px, 2vw, 10px);
        margin: 0 clamp(5px, 2vw, 20px);
        outline: none;
      }

      .action-btn-big {
        color: #ffbdbd;
        font-size: 3rem;
      }

      #volume {
        background: linear-gradient(to right, #fbecec 0%, #ffa6a6 100%);
        border: solid 1px #c56cf0;
        border-radius: 8px;
        height: 7px;
        width: 50px;
        outline: none;
        transition: background 450ms ease-in;
        -webkit-appearance: none;
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
